{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        
        <div style = "height:50px;width:1318px;background-color:lightgrey;" >
          <a href="#">TCS</a> 
          <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input  class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="{% static 'mainemployee.html' %}">Add</a></button>
        </div>
        
          
                      
    </div> 
       <div style = "height:50px;width:1318px;background-color:lightgrey" >
           <a href="#">WIPRO</a>
           <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">INFOSYS</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">TELECOM</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">ACCENTURE</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input  class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">POLO</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
               <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">GOOGLE</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
              
        </div>
        
          
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">FACEBOOK</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
           
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">INSTAGRAM</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
            
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">SNAPCHAT</a>
            
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">HCL</a>
           <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">POLESTAR</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn"type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
    </div>
        <div style = "height:50px;width:1318px;background-color:lightgrey" >
            <a href="#">ICIC</a>
            <div style ="height:1500px;width:200px;margin-left:800px">
            <form action="" method="">
              <input class="btn" type="button" value="remove" text-align="left" >
              &nbsp&nbsp&nbsp&nbsp&nbsp
              <button class="btn"><a href="mainemployee.html">Add</a></button>
        </div>
        
            
    </div>
        
    </body>
</html>
